body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
.tpl {
  display: none      !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
  visibility: hidden !important;
}
* {
  box-sizing: border-box;
}
.pageContent a {
  color: #164995;
  text-decoration: none;
  text-decoration: underline;
}
.pageContent a:hover {
  color: #164995;
  text-decoration: underline;
}
.pageContent a:visited {
  color: #164995;
  text-decoration: underline;
}
.pageContent a.page-button {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  text-decoration: none;
  color: black;
  border-radius: 0;
}
.pageContent a.page-button-grey,
.pageContent a.page-button-grey:hover,
.pageContent a.page-button-grey:visited {
  color: black;
  background: #e8e8e8;
}
.pageContent a.page-button-blue,
.pageContent a.page-button-blue:hover,
.pageContent a.page-button-blue:visited {
  background-color: #164995;
  color: white;
}
.pageContent a.page-button-white,
.pageContent a.page-button-white:hover,
.pageContent a.page-button-white:visited {
  background-color: white;
  color: #003066;
}
.pageContent a.bekijk-de-locatie-button,
.pageContent a.bekijk-de-locatie-button:hover {
  width: 179px;
  max-width: 179px;
  padding: 0 0 0 36px;
  margin: 0 30px 0 0;
  background-position: 12px 10px;
  background-size: 14px 20px;
  background-repeat: no-repeat;
  background-image: url('/img/eberhardvanderlaan2/icon-locatie-blauw.svg');
}
@media only screen and (max-width: 700px) {
  .pageContent a.bekijk-de-locatie-button,
  .pageContent a.bekijk-de-locatie-button:hover {
    margin: 20px auto 0 auto;
  }
}
.pageContent a.stuur-je-ontwerp-button {
  width: 203px;
  max-width: 203px;
  padding: 0 0 0 43px;
  background-position: 12px 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url('/img/eberhardvanderlaan2/icon-stuur-in.svg');
}
@media only screen and (max-width: 700px) {
  .pageContent a.stuur-je-ontwerp-button {
    margin: 13px auto 0 auto;
  }
}
.pageContent a.ga-verder-button,
.pageContent a.ga-verder-button2 {
  float: right;
  width: 330px;
  max-width: 330px;
  padding: 0 15px;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .pageContent a.ga-verder-button,
  .pageContent a.ga-verder-button2 {
    width: 100%;
    line-height: 24px;
    margin: 13px auto;
    padding: 13px 11px;
  }
}
.pageContent a.ga-verder-button2 {
  float: none;
}
.pageContent .buttons {
  margin: 50px 0 0 0;
}
.pageContent .buttons a.page-button {
  float: left;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  margin: 0 30px 0 0;
}
@media only screen and (max-width: 700px) {
  .pageContent .buttons a.page-button {
    float: initial;
    position: relative;
    width: 100%;
    margin: 20px auto 0 auto;
  }
}
.pageContent #home-banner {
  width: 100%;
  position: relative;
  height: 375px;
  margin-bottom: 35px;
  overflow: hidden;
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner {
    display: block;
    width: calc(100% + 30px);
    height: auto;
    margin-left: -15px;
  }
}
.pageContent #home-banner .primary {
  position: relative;
  float: left;
  width: calc(100% - 240px);
  height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/img/eberhardvanderlaan2/header-home.jpg);
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .primary {
    float: left;
    width: calc(100% - 240px);
    min-width: auto;
  }
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .primary {
    position: relative;
    float: none;
    width: 100%;
    min-width: auto;
    height: auto;
    padding-top: 135%;
    background-image: url(/img/eberhardvanderlaan2/header-home-mobile.png);
  }
}
.pageContent #home-banner .primary .text {
  position: absolute;
  padding: 20px 20px;
  background-color: #164995;
  left: 20px;
  bottom: 80px;
  width: calc(100% - 40px);
  height: 172px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
  z-index: 1000;
}
@media only screen and (max-width: 1000px) {
  .pageContent #home-banner .primary .text {
    width: auto;
    height: auto;
    top: auto;
    left: 15px;
    right: 15px;
    bottom: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .primary .text {
    width: auto;
    height: auto;
    top: 78px;
    left: 15px;
    right: 15px;
    bottom: auto;
    font-size: 18px;
    line-height: normal;
  }
}
.pageContent #home-banner .primary .text h2 {
  font-size: 29px;
  margin: 0 0 11px 0;
  padding: 0;
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .primary .text h2 {
    font-size: 22px;
  }
}
.pageContent #home-banner .primary .buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
}
.pageContent #home-banner .primary .buttons a.page-button {
  margin: 0 10px 0 20px;
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .primary .buttons a.bekijk-de-locatie-button {
    margin: 20px auto 0 auto;
  }
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .primary .buttons a.stuur-je-ontwerp-button {
    margin: 13px auto 0 auto;
  }
}
.pageContent #home-banner .secondary {
  position: relative;
  float: left;
  padding: 0;
  margin: 0 0 0 20px;
  width: 220px;
  height: 375px;
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .secondary {
    float: none;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.pageContent #home-banner .secondary a.no-of-locations {
  margin-top: -8px;
  width: 200px;
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .secondary a.no-of-locations .no-of-locations-content {
    width: auto;
  }
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .secondary a.no-of-locations {
    display: block;
    float: none;
    width: 80%;
    margin: 0 auto;
  }
}
.pageContent #home-banner .secondary a.page-button {
  display: block;
  margin-top: 1px;
  padding-top: 9px;
  padding-left: 40px;
  line-height: 24px;
  height: 68px;
  width: 220px;
  background-position: 12px 14px;
  background-size: 36px 40px;
  background-repeat: no-repeat;
  background-image: url('/img/info-pin.svg');
}
@media only screen and (max-width: 700px) {
  .pageContent #home-banner .secondary a.page-button {
    display: none;
  }
}
.pageContent.newIdea .primary {
  min-width: 700px;
}
@media only screen and (max-width: 700px) {
  .pageContent.newIdea .primary {
    min-width: initial;
  }
}
@media only screen and (max-width: 1000px) {
  .pageContent.newIdea .secondary {
    width: 100%;
    margin: 20px auto;
  }
}
.pageContent.newIdea .secondary .speechBubble {
  margin-top: 0;
  margin-left: -15px;
  width: 212px;
}
@media only screen and (max-width: 700px) {
  .pageContent.newIdea .secondary .speechBubble {
    width: 100%;
    margin: 20px auto;
  }
}
.pageContent #list-banner {
  position: relative;
  width: 100%;
  padding: 38px 0;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/img/eberhardvanderlaan2/header-list.jpg);
}
@media only screen and (max-width: 700px) {
  .pageContent #list-banner {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
    background-image: url(/img/eberhardvanderlaan2/header-list-mobile.jpg);
  }
}
.pageContent #list-banner .no-of-locations {
  width: 205px;
  margin: 0 auto;
}
.pageContent #about {
  margin-bottom: -50px;
}
.pageContent #about #header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 344px;
}
@media only screen and (max-width: 700px) {
  .pageContent #about #header {
    height: auto;
  }
}
.pageContent #about #header h1 {
  margin-top: 0;
}
.pageContent #about #header .header-image {
  width: 540px;
}
@media only screen and (max-width: 700px) {
  .pageContent #about #header .header-image {
    width: 100%;
    height: auto;
  }
}
.pageContent #about #header .header-image img {
  width: 100%;
  height: auto;
}
.pageContent #about #header .header-text {
  position: relative;
  width: calc(100% - 540px);
  padding: 0 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
}
@media only screen and (max-width: 700px) {
  .pageContent #about #header .header-text {
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
  }
}
.pageContent #about #header .header-text #gebiedsplannen-button {
  position: absolute;
  display: block;
  width: 280px;
  max-width: 280px;
  left: 20px;
  bottom: 7px;
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  line-height: 40px;
  white-space: nowrap;
}
@media only screen and (max-width: 700px) {
  .pageContent #about #header .header-text #gebiedsplannen-button {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
.pageContent #about h2 {
  margin-top: 30px;
}
.pageContent #about .thema-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 328px;
  margin-bottom: 30px;
  background-color: #f3f3f3;
}
@media only screen and (max-width: 700px) {
  .pageContent #about .thema-container {
    height: auto;
  }
}
.pageContent #about .thema-container .thema-text {
  width: calc(100% - 540px);
  padding: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
}
@media only screen and (max-width: 700px) {
  .pageContent #about .thema-container .thema-text {
    width: 100%;
    height: auto;
  }
}
.pageContent #about .thema-container .thema-text h3 {
  margin-top: 0;
}
.pageContent #about .thema-container .thema-text ul {
  padding: 0 15px 0 0;
}
.pageContent #about .thema-container .thema-text ul li {
  background-image: url('/img/eberhardvanderlaan2/arrow_right_blue.svg');
  background-position: top 6px left;
  background-repeat: no-repeat;
  background-size: auto 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 15px;
}
.pageContent #about .thema-container .thema-text ul li a {
  position: relative;
  color: #004699;
  font-size: 16px;
  font-weight: bold;
  line-gheight: 18px;
  text-decoration: underline;
}
.pageContent #about .thema-container .thema-text ul li a:visited {
  color: #004699;
}
.pageContent #about .thema-container .thema-video {
  background-color: white;
  width: 540px;
}
@media only screen and (max-width: 700px) {
  .pageContent #about .thema-container .thema-video {
    width: 100%;
    height: auto;
  }
}
.pageContent #about .thema-container .thema-video img {
  width: 100%;
  height: auto;
}
.pageContent #ideas.primary .tile {
  position: relative;
  width: calc(33.33333333% - 20px);
  margin-right: 20px;
}
@media only screen and (max-width: 700px) {
  .pageContent #ideas.primary .tile {
    width: 100%;
    height: auto;
  }
}
.pageContent #ideas.primary .tile .image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  z-index: 30;
}
.pageContent #ideas.primary .tile .image-background,
.pageContent #ideas.primary .tile .image-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.pageContent #ideas.primary .tile .image-foreground {
  z-index: 130;
}
.pageContent #ideas.primary .tile .image-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 30;
}
.pageContent #ideas.primary .tile .username {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #787979;
}
.pageContent #ideas.primary .tile.USER .image {
  margin-top: -3px;
  margin-left: -3px;
  width: calc(100% + 6px);
}
.pageContent #idea .primary .image {
  position: relative;
  width: 700px;
  height: 700px;
  margin-bottom: 35px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 700px) {
  .pageContent #idea .primary .image {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
}
.pageContent #idea .primary #background,
.pageContent #idea .primary #foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pageContent #idea .primary #uploadedImage {
  position: absolute;
  top: 69px;
  left: 151px;
  width: 415px;
  height: 520px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.pageContent #idea .secondary h4:nth-child(1) {
  margin-top: 0;
}
.pageContent #idea .secondary h4 {
  margin-bottom: 20px;
}
.pageContent #idea .secondary select {
  margin: 0 0 10px 0;
}
#mainMenu {
  margin-bottom: 30px;
}
@media only screen and (max-width: 700px) {
  #mainMenu > div {
    font-size: 16px;
  }
}
#mainMenu > div ul li + li {
  padding-left: 15px;
}
#mainMenu > div ul li:nth-child(2) a:before {
  content: 'Ontwerpwedstrijd';
}
@media only screen and (max-width: 700px) {
  #mainMenu > div ul li:nth-child(2) a:before {
    content: 'Wedstrijd';
  }
}
#mainMenu > div a.page-button {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  text-decoration: none;
  color: black;
  border-radius: 0;
}
#mainMenu > div a.page-button-blue,
#mainMenu > div a.page-button-blue:hover,
#mainMenu > div a.page-button-blue:visited {
  background-color: #164995;
  color: white;
}
#mainMenu > div a.stuur-je-ontwerp-button {
  float: right;
  width: 152px;
  margin-top: 0px;
  margin-right: 40px;
  padding: 0;
  font-size: 16px;
  text-shadow: none;
  color: white;
  background-image: none;
}
@media only screen and (max-width: 700px) {
  #mainMenu > div a.stuur-je-ontwerp-button {
    display: none;
  }
}
#mainMenu > div a.stuur-je-ontwerp-button:hover {
  color: white;
  border-bottom: 0px none;
}
.extraInfoBar {
  width: 100%;
  margin-bottom: 35px;
  background-color: #164995;
}
@media only screen and (max-width: 1000px) {
  .extraInfoBar {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 700px) {
  .extraInfoBar {
    padding: 0;
  }
}
.extraInfoBar .text {
  width: 940px;
  margin: 0 auto;
  padding: 12px 0 12px 50px;
  background-position: 0px 17px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-image: url('/img/eberhardvanderlaan2/attention.svg');
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
}
@media only screen and (max-width: 700px) {
  .extraInfoBar .text {
    width: calc(100% - 30px);
  }
}
#content.newArticle #image-editor,
#content.newIdea #image-editor {
  position: relative;
  display: table;
  width: 100%;
  min-width: 700px;
  height: 700px;
  margin-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #C0C0C0;
  background-color: #f6f7f7;
}
@media only screen and (max-width: 700px) {
  #content.newArticle #image-editor,
  #content.newIdea #image-editor {
    position: relative;
    min-width: initial;
    width: 100%;
    height: 1px;
    padding-top: 100%;
  }
}
#content.newArticle #image-editor #background,
#content.newIdea #image-editor #background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#content.newArticle #image-editor #image-cropper-container,
#content.newIdea #image-editor #image-cropper-container {
  position: absolute;
  top: 69px;
  left: 151px;
  width: 415px;
  height: 520px;
  overflow: hidden;
}
#content.newArticle #image-editor #image-cropper,
#content.newIdea #image-editor #image-cropper {
  position: absolute;
  top: 72px;
  left: 100px;
  width: 500px;
  height: 200px;
  cursor: move;
}
#content.newArticle #image-editor #image-cropper-container.hidden,
#content.newIdea #image-editor #image-cropper-container.hidden {
  display: none;
}
#content.newArticle #image-editor #posterImageUpload,
#content.newIdea #image-editor #posterImageUpload {
  position: absolute;
  top: 69px;
  left: 151px;
  width: 415px;
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6f7f7;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  #content.newArticle #image-editor #posterImageUpload,
  #content.newIdea #image-editor #posterImageUpload {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
#content.newArticle #image-editor #posterImageUpload.dz-clickable::before,
#content.newIdea #image-editor #posterImageUpload.dz-clickable::before {
  content: 'Let op: stuur alleen een ontwerp in dat je zelf gemaakt hebt! Afbeeldingen van anderen kunnen auteursrechtelijk beschermd zijn.';
}
#content.newArticle #image-editor message,
#content.newIdea #image-editor message {
  position: absolute;
  display: block;
  top: 15px;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 4px #000;
  color: #FFF;
  display: none;
}
#content.newArticle #image-editor #zoombuttons,
#content.newIdea #image-editor #zoombuttons {
  position: absolute;
  display: none;
  left: 575px;
  top: 542px;
  width: 24px;
  height: 47px;
}
#content.newArticle #image-editor #zoombuttons #zoomIn,
#content.newIdea #image-editor #zoombuttons #zoomIn,
#content.newArticle #image-editor #zoombuttons #zoomOut,
#content.newIdea #image-editor #zoombuttons #zoomOut {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content.newArticle #image-editor #zoombuttons #zoomIn,
#content.newIdea #image-editor #zoombuttons #zoomIn {
  background-image: url(/img/eberhardvanderlaan2/zoom-in.png);
}
#content.newArticle #image-editor #zoombuttons #zoomOut,
#content.newIdea #image-editor #zoombuttons #zoomOut {
  top: 24px;
  background-image: url(/img/eberhardvanderlaan2/zoom-out.png);
}
#content.newArticle #image-editor #imageEditorButton,
#content.newIdea #image-editor #imageEditorButton {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  padding: 0;
  line-height: inherit;
  background-color: #164995;
  bottom: 10px;
  color: #FFF;
  cursor: pointer;
  display: none;
  font-size: inherit;
  padding: 8px 0;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  text-align: center;
  white-space: nowrap;
  width: 170px;
}
#content.newArticle #image-editor #imageEditorButton.hidden,
#content.newIdea #image-editor #imageEditorButton.hidden {
  display: none;
}
#howDoesItWork ul li {
  background-image: url('/img/eberhardvanderlaan2/arrow_right_blue.svg');
  background-position: top 6px left;
  background-repeat: no-repeat;
  background-size: auto 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 15px;
}
#howDoesItWork ul li a {
  position: relative;
  color: #004699;
  font-size: 16px;
  font-weight: bold;
  line-gheight: 18px;
  text-decoration: underline;
}
#howDoesItWork ul li a:visited {
  color: #004699;
}
#howDoesItWork .step .step-image-1 {
  background-size: 140px 77px;
  background-image: url(/img/eberhardvanderlaan2/howto-1.svg);
}
#howDoesItWork .step .step-image-2 {
  background-size: 79px 76px;
  background-image: url(/img/eberhardvanderlaan2/howto-2.svg);
}
#howDoesItWork .step .step-image-3 {
  background-size: 99px 75px;
  background-image: url(/img/eberhardvanderlaan2/howto-3.svg);
}
#howDoesItWork .step .step-image-4 {
  background-size: 72px 74px;
  background-image: url(/img/eberhardvanderlaan2/howto-4.svg);
}
#howDoesItWork.closed .pageContent {
  display: none;
}
#howDoesItWork.closed #arrow {
  transform: rotate(0deg);
}
#howDoesItWork.open .pageContent {
  display: block;
}
#howDoesItWork.open #arrow {
  transform: rotate(180deg);
}
#ontwerprichtlijnen {
  padding-top: 24px;
}
#ontwerprichtlijnen h3 {
  margin-top: 0;
}
.full-width-block.gray {
  background-color: #f3f3f3;
}
.full-width-block.gray ul.checkmark-dot-list li {
  margin: 16px 0 23px 0;
}
.info {
  margin-right: 20px;
}
.info.gray {
  padding: 20px;
  background-color: #f3f3f3;
}
.info img {
  width: 100%;
}
ul.links-list li a {
  text-decoration: none;
}
ul.links-list.downloads li {
  margin-bottom: 20px;
  padding-left: 20px;
  background-position: 2px 3px;
  background-size: 10px 14px;
  background-image: url('/img/icon-download.svg');
}
ul.links-list.downloads li:last-child {
  margin-bottom: 0;
}
#content.newIdea #posterImageUpload.dz-clickable::after {
  top: 13%;
  left: 10%;
  width: 80%;
  content: "Klik hier om een afbeelding te uploaden (jpeg of png). Aanbevolen minimale resolutie: 700 pixels breed en 877 pixels hoog. Maximale bestandsformaat: 8MB.";
}
@media only screen and (max-width: 700px) {
  #content.newArticle .secondary,
  #content.newIdea .secondary {
    display: block;
  }
}
#content.newIdea #posterImageUpload.dz-clickable .progress {
  postion: relative;
  top: auto;
  bottom: 45px;
  height: 16px;
  border: 1px solid #164995;
  border-radius: 8px;
  z-index: 100;
  background-color: transparent;
}
#content.newIdea #posterImageUpload.dz-clickable .progress:after {
  position: absolute;
  top: 25px;
  font-weight: bold;
  text-align: center;
  color: #000;
  content: "Afbeelding uploaden...";
}
#content.newIdea #posterImageUpload.dz-clickable .progress .bar {
  border-radius: 8px 0 0 8px;
  height: 100%;
  width: 20%;
  background-color: #164995;
}
.form-info,
.form-warning {
  position: relative;
  margin: -16px 0 10px 30px;
  padding: 0;
}
.form-info:before,
.form-warning:before {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 30px;
  height: 30px;
  content: "";
  background-position: 0px 0px;
  background-size: 20px 22px;
  background-repeat: no-repeat;
  background-image: url('/img/info-pin.svg');
}
.form-warning {
  display: none;
  margin-bottom: -4px;
  font-size: 14px;
  color: red;
}
.form-warning:before {
  background-image: url('/img/attention.svg');
}
.mobile-menu-item img {
  padding-bottom: 5px;
}
#charsLeftMain {
  color: #9a9a9a;
  font-size: 0.7rem;
}
.empty-list {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px dashed #bebebe;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .empty-list {
    margin-top: 50px;
    width: 100%;
  }
}
.empty-list .empty-list-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #787979;
}
@media only screen and (max-width: 1000px) {
  #idea .secondary {
    width: 100%;
    margin: 20px auto;
  }
}
#ideas.primary .tile .duration {
  margin-top: 0px;
}
