<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=yes"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Digitale Identiteit - IRMA demo's</title>
    </head>

    <body>
        <noscript>
            Je hebt JavaScript nodig om de demo's te bekijken.
        </noscript>
        <div id="app"></div>
    </body>
</html>
