html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-display: optional;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

body {
  color: #050505;
  background-color: #fcfcfc;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.vote-list {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

#results {
    margin: 1em 0;
}

.votes {
    margin: 0;
}
